h1 {
    color: black;
    font-size: 2rem; 
    padding: 1rem;
    text-align: center;
}

body {
    background-color: lightblue;

}

input {
    color: black;
    font-size: 1rem; 
    padding: 0.5rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: 20px;
    margin: 0 auto 0 auto;
    font-family: monospace;
    font-size: x-large;
}


button.addButton {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: 20px;
    margin: 10px auto 50px auto;
    background-color: white;
    font-family: monospace;
    font-size: x-large;
    
}

button.addButton:hover {
    color: black;
    text-decoration: underline;
}


ul {
    text-align: center;
        cursor: pointer;
        border-radius: 5rem;
        list-style: none;
        padding: 0px;
     
}

li {
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: x-large;
    
}

button.checkbox {
    border: solid black 1px;
    size: 20px;
    
}

button.checkbox:hover {
    background-color: rgb(0, 249, 41);
    
}

#clearKnapp {
    text-align: center;
    display: flex;
    margin: 60px auto 0 auto;
    background-color: white;
    font-family: monospace;
    font-size: x-large;

}

#clearKnapp:hover {
    color: rgb(34, 106, 14);
    text-decoration: underline;
    
}

html {
    font-family: monospace;
}

