h1 {
    color: black;
    font-size: 2rem; 
    padding: 1rem;
    text-align: center;
}

body {
    background-color: lightblue;
}

input {
    color: black;
    font-size: 1rem; 
    padding: 0.5rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: 20px;
    margin: 0 auto 0 auto;
}


button {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: 20px;
    margin: 0 auto 0 auto;
    background-color: white;

}

button:hover {
    color: black;
    text-decoration: underline;
}


